USE [master]
GO
/****** Object:  Database [ASM_GROUP3]    Script Date: 10/22/2024 9:17:22 PM ******/
CREATE DATABASE [ASM_GROUP3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASM_GROUP3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASM_GROUP3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASM_GROUP3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASM_GROUP3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASM_GROUP3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASM_GROUP3]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/22/2024 9:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_ID] [int] NOT NULL,
	[Customer_Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Age] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/22/2024 9:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] NOT NULL,
	[Reservation_ID] [int] NOT NULL,
	[Payment_Date] [date] NOT NULL,
	[Total_Amount] [decimal](10, 2) NOT NULL,
	[Payment_Method] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 10/22/2024 9:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[Reservation_ID] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Room_Code] [varchar](10) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Check_In_Date] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation_Has_Services]    Script Date: 10/22/2024 9:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation_Has_Services](
	[Reservation_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Sales] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservation_ID] ASC,
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 10/22/2024 9:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Room_ID] [int] NOT NULL,
	[Room_Type] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IMAGER] [nvarchar](max) NOT NULL,
	[IMAGER1] [nvarchar](max) NOT NULL,
	[IMAGER2] [nvarchar](max) NOT NULL,
	[IMAGER3] [nvarchar](max) NOT NULL,
	[IMAGER4] [nvarchar](max) NOT NULL,
	[IMAGER5] [nvarchar](max) NOT NULL,
	[IMAGER6] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Manage]    Script Date: 10/22/2024 9:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Manage](
	[Room_Code] [varchar](10) NOT NULL,
	[Room_ID] [int] NOT NULL,
	[Status] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/22/2024 9:17:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Service_ID] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [text] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IMAGES] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([Customer_ID], [Customer_Name], [Address], [PhoneNumber], [Email], [Password], [Age]) VALUES (0, N'ADMIN', N'ADDRESS', N'0000000000', N'hotel@admin.com', N'pass', 0)
INSERT [dbo].[Customers] ([Customer_ID], [Customer_Name], [Address], [PhoneNumber], [Email], [Password], [Age]) VALUES (1, N'Nguyễn Văn A', N'123 Đường Trần Hưng Đạo, Hà Nội', N'0987654321', N'nguyenvana@gmail.com', N'passa', 30)
INSERT [dbo].[Customers] ([Customer_ID], [Customer_Name], [Address], [PhoneNumber], [Email], [Password], [Age]) VALUES (2, N'Trần Thị B', N'45 Đường Lê Lợi, Hồ Chí Minh', N'0912345678', N'tranthib@gmail.com', N'passb', 28)
GO
INSERT [dbo].[Payment] ([Payment_ID], [Reservation_ID], [Payment_Date], [Total_Amount], [Payment_Method]) VALUES (1, 1, CAST(N'2024-09-19' AS Date), CAST(500000.00 AS Decimal(10, 2)), N'Bank Transfer')
INSERT [dbo].[Payment] ([Payment_ID], [Reservation_ID], [Payment_Date], [Total_Amount], [Payment_Method]) VALUES (2, 2, CAST(N'2024-09-18' AS Date), CAST(1600000.00 AS Decimal(10, 2)), N'Cash')
INSERT [dbo].[Payment] ([Payment_ID], [Reservation_ID], [Payment_Date], [Total_Amount], [Payment_Method]) VALUES (3, 3, CAST(N'2024-09-20' AS Date), CAST(1500000.00 AS Decimal(10, 2)), N'Credit Card')
GO
INSERT [dbo].[Reservation] ([Reservation_ID], [Customer_ID], [Room_Code], [TotalPrice], [Status], [Check_In_Date], [CheckOutDate]) VALUES (1, 1, N'101', CAST(500000.00 AS Decimal(10, 2)), N'Booked', CAST(N'2024-09-20' AS Date), CAST(N'2024-09-22' AS Date))
INSERT [dbo].[Reservation] ([Reservation_ID], [Customer_ID], [Room_Code], [TotalPrice], [Status], [Check_In_Date], [CheckOutDate]) VALUES (2, 2, N'201', CAST(1600000.00 AS Decimal(10, 2)), N'Occupied', CAST(N'2024-09-18' AS Date), CAST(N'2024-09-20' AS Date))
INSERT [dbo].[Reservation] ([Reservation_ID], [Customer_ID], [Room_Code], [TotalPrice], [Status], [Check_In_Date], [CheckOutDate]) VALUES (3, 3, N'302', CAST(1500000.00 AS Decimal(10, 2)), N'Booked', CAST(N'2024-09-21' AS Date), CAST(N'2024-09-23' AS Date))
GO
INSERT [dbo].[Reservation_Has_Services] ([Reservation_ID], [Service_ID], [Quantity], [Sales]) VALUES (1, 1, 2, CAST(0.10 AS Decimal(10, 2)))
INSERT [dbo].[Reservation_Has_Services] ([Reservation_ID], [Service_ID], [Quantity], [Sales]) VALUES (2, 2, 1, CAST(0.20 AS Decimal(10, 2)))
INSERT [dbo].[Reservation_Has_Services] ([Reservation_ID], [Service_ID], [Quantity], [Sales]) VALUES (3, 3, 3, CAST(0.25 AS Decimal(10, 2)))
GO
INSERT [dbo].[Room] ([Room_ID], [Room_Type], [Capacity], [Price], [IMAGER], [IMAGER1], [IMAGER2], [IMAGER3], [IMAGER4], [IMAGER5], [IMAGER6]) VALUES (1, N'Single Room', 1, CAST(500000.00 AS Decimal(10, 2)), N'img/single/single.webp', N'img/single/single1.jpg', N'img/single/single2.jpg', N'img/single/single3.jpg', N'img/single/single4.webp', N'img/single/single5.jpg', N'img/single/single6.jpg')
INSERT [dbo].[Room] ([Room_ID], [Room_Type], [Capacity], [Price], [IMAGER], [IMAGER1], [IMAGER2], [IMAGER3], [IMAGER4], [IMAGER5], [IMAGER6]) VALUES (2, N'Double Room', 2, CAST(800000.00 AS Decimal(10, 2)), N'img/double/double.webp', N'img/double/double1.jpg', N'img/double/double2.jpg', N'img/double/double3.jpg', N'img/double/double4.jpg', N'img/double/double5.jpg', N'img/double/double6.jpg')
INSERT [dbo].[Room] ([Room_ID], [Room_Type], [Capacity], [Price], [IMAGER], [IMAGER1], [IMAGER2], [IMAGER3], [IMAGER4], [IMAGER5], [IMAGER6]) VALUES (3, N'Family Room', 4, CAST(1500000.00 AS Decimal(10, 2)), N'img/family/family.jpg', N'img/family/family1.jpg', N'img/family/family2.webp', N'img/family/family3.jpg', N'img/family/family4.jpg', N'img/family/family5.jpg', N'img/family/family6.jpg')
GO
INSERT [dbo].[Room_Manage] ([Room_Code], [Room_ID], [Status]) VALUES (N'101', 1, N'Available')
INSERT [dbo].[Room_Manage] ([Room_Code], [Room_ID], [Status]) VALUES (N'102', 1, N'Available')
INSERT [dbo].[Room_Manage] ([Room_Code], [Room_ID], [Status]) VALUES (N'103', 1, N'Available')
GO
INSERT [dbo].[Services] ([Service_ID], [ServiceName], [Description], [Price], [IMAGES]) VALUES (1, N'Laundry', N'We provide fast and efficient laundry service to keep your clothes fresh and clean during your stay.', CAST(20000.00 AS Decimal(10, 2)), N'img/service/Laundry.jpg')
INSERT [dbo].[Services] ([Service_ID], [ServiceName], [Description], [Price], [IMAGES]) VALUES (2, N'Spa', N'Enjoy a relaxing spa experience with a variety of treatments including massage and skin care.', CAST(200000.00 AS Decimal(10, 2)), N'img/service/Spa.jpg')
INSERT [dbo].[Services] ([Service_ID], [ServiceName], [Description], [Price], [IMAGES]) VALUES (3, N'Airport shuttle', N'Reliable airport shuttle service to ensure you reach your destination comfortably and on time.', CAST(200000.00 AS Decimal(10, 2)), N'img/service/Airport_shuttle.jpg')
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([Reservation_ID])
REFERENCES [dbo].[Reservation] ([Reservation_ID])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customers] ([Customer_ID])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([Room_Code])
REFERENCES [dbo].[Room_Manage] ([Room_Code])
GO
ALTER TABLE [dbo].[Reservation_Has_Services]  WITH CHECK ADD FOREIGN KEY([Reservation_ID])
REFERENCES [dbo].[Reservation] ([Reservation_ID])
GO
ALTER TABLE [dbo].[Reservation_Has_Services]  WITH CHECK ADD FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Services] ([Service_ID])
GO
ALTER TABLE [dbo].[Room_Manage]  WITH CHECK ADD FOREIGN KEY([Room_ID])
REFERENCES [dbo].[Room] ([Room_ID])
GO
USE [master]
GO
